body,pre {
  background:#0a0a0a;
  color:lightgray;
  font-size:1.5em;
  width:135ex;
  margin:auto;
  padding:5ex;
  border:1px solid dimgray;
}

.command-line {
  font-weight:bold;
  color:yellow;
  padding-left:1.5ex;
}

.command-line:before {
  margin-left:10px;
  content:"$ ";
}

.command-line.continuation {
}

.command-line.continuation:before {
  padding-right:8ex;
  content:"> ";
}

.response {
  margin:3px 1px;
  padding-left:15px;
  white-space:pre;
}
